body, html {
    background-color: #1b1b1b;
}

.navbar {
    border-bottom: 1px solid #4b4b4b;
    background-color: #000;
    color: #fff;
}

.navbar *{
    color: #fff;
    background-color: #000;
}

.navbar-dropdown, .navbar-dropdown *{
    background-color: #1b1b1b;
    color: #eee;
}

/* Fix code below so that !important is not needed */
.navbar-dropdown .navbar-item:hover {
    background-color: #4b4b4b !important;
    color: white !important;
}

.navbar-link {
    background-color: transparent !important;
}

.navbar-link:hover, .navbar-link:active {
    background-color: #2b2b2b !important;
}

.content {
    background-color: #000;
}

#editor {
    border-color: #000;
    border-right: 1px solid #4b4b4b;
    color: #fff;
    background-color: #000;
}

#preview pre, code {
    background-color: #2b2b2b;
}

#preview * {
    color: #fff;
}

blockquote {
    background-color: #1b1b1b !important;
    border-color: #2b2b2b !important;
}