/* Import Google Font */
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

body, html {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

.content {
    min-height: calc(100vh - 5em);
}

#editor {
    font-family: monospace;
    padding: 1.1em;
    font-size: 1.1em;
}

#preview {
    padding: 1em;
}

pre, code, blockquote {
    border-radius: 2.5px;
}

.sidebar {
    height: calc(100vh - 30px);
    padding: 1em 0em 1em 1em;
    position: fixed;
    top: 52.5px;
    bottom: 0;
    width: 250px;
    z-index: 999;
    left: -250px;
}

.sidebar .heading {
    margin-bottom: 1em;
}