/* Import Google Font */
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

body, html {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

.content {
    min-height: calc(100vh - 5em);
}

#editor {
    font-family: monospace;
    padding: 1.1em;
    font-size: 1.1em;
}

#preview {
    padding: 1em;
}

pre, code {
    border-radius: 2.5px;
}
